body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a3b18a;
    text-align: center;
}
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a3b18a;
    text-align: center;
}